{% extends "base.html" %}
{% load static i18n %}

{% block content %}
    <!-- Navbar End -->


    <!-- Header Start -->
    {% include "includes/page_header_banner.html" %}
    <!-- Header End -->


    <!-- About Start (CMS-driven; shared with index home block) -->
    <main id="main-content">
    {% include "includes/about_intro_section.html" with about=about about_why_items=about_why_items main_heading_is_h1=True show_why_academor=True show_about_video=True %}
    {% include "includes/site_faq_section.html" %}
    </main>
    <!-- About End -->
{% endblock %}
