{% load i18n %}
<div class="about-why-academor mt-3" aria-labelledby="about-why-heading">
    <h2 id="about-why-heading" class="about-why-academor__title mb-2">{% trans "Why Academor" %}</h2>
    <ul class="about-why-academor__list list-unstyled mb-0">
        {% for item in about_why_items %}
        <li class="about-why-academor__item">
            <span class="about-why-academor__icon" aria-hidden="true">
                <i class="fa {{ item.icon }}" aria-hidden="true"></i>
            </span>
            <div class="about-why-academor__body">
                <h3 class="about-why-academor__item-title">{{ item.title }}</h3>
                {% if item.text %}
                <p class="about-why-academor__item-text mb-0">{{ item.text }}</p>
                {% endif %}
            </div>
        </li>
        {% endfor %}
    </ul>
</div>
