{% load i18n %}
{% if abroad_advantages and abroad_advantages.items %}
<div class="abroad-advantages wow fadeInUp" data-wow-delay="0.12s" aria-labelledby="abroad-advantages-heading">
    {% if abroad_advantages.title %}
    <h2 id="abroad-advantages-heading" class="abroad-advantages__title">{{ abroad_advantages.title }}</h2>
    {% else %}
    <h2 id="abroad-advantages-heading" class="abroad-advantages__title">{% trans "Advantages of Studying Abroad" %}</h2>
    {% endif %}
    <ul class="abroad-advantages__grid list-unstyled mb-0">
        {% for item in abroad_advantages.items %}
        <li class="abroad-advantages__item">
            <span class="abroad-advantages__icon" aria-hidden="true">
                <i class="fa {{ item.icon }}" aria-hidden="true"></i>
            </span>
            <span class="abroad-advantages__label">{{ item.title }}</span>
        </li>
        {% endfor %}
    </ul>
</div>
{% endif %}
