{% load static compress %}
{% compress js file academor_lazy %}
<script defer src="{% static 'assets/js/academor-lazy-brand.js' %}"></script>
{% endcompress %}
{# Vendor libs are self-hosted at pinned versions (Bootstrap CSS + JS both 5.3.3). #}
{% compress js file academor_vendor_libs %}
<script defer src="{% static 'assets/vendor/bootstrap-5.3.3/bootstrap.bundle.min.js' %}"></script>
<script defer src="{% static 'assets/vendor/swiper-11.2.10/swiper-bundle.min.js' %}"></script>
{% endcompress %}
{% compress js file academor_vendor %}
<script defer src="{% static 'assets/js/scroll-reveal.js' %}"></script>
<script defer src="{% static 'assets/js/detail-back.js' %}"></script>
<script defer src="{% static 'assets/js/main.js' %}"></script>
<script defer src="{% static 'assets/js/portal-login-modal.js' %}"></script>
<script defer src="{% static 'assets/js/page-tagline-reveal.js' %}"></script>
{% endcompress %}
<script defer src="{% static 'assets/js/site-nav-fit.js' %}?v=20260920nav4k1"></script>
