{% extends "portals/base.html" %}
{% load i18n portal_tags %}

{% block title %}{% trans 'Nəticələr və qiymətləndirmələr' %}{% endblock %}

{% block extra_css %}
{% endblock %}

{% block content %}
{% include "portals/includes/parent_child_header.html" %}

{% include "portals/includes/portal_page_hero.html" with title=_('Nəticələr və qiymətləndirmələr') subtitle=_('Şagirdinizin quiz tarixçəsi, həftəlik qiymətləri və mock nəticələrinə baxın.') icon="ti-star" lottie="portals/animations/distance-education.lottie" %}

{% include "portals/includes/score_sections.html" with show_group_column=score_groups %}
{% endblock %}
