{% extends "portals/base.html" %}
{% load i18n portal_tags static %}

{% block title %}{% trans 'Textbooks' %}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'portals/css/portal-classrooms.css' %}">
{% endblock %}

{% block content %}
{% if portal_role == 'parent' and children %}
{% include "portals/includes/parent_child_header.html" %}
{% endif %}
{% portal_page_heading icon="bi-book" title=_('Textbooks') %}

{% include "portals/includes/classrooms_panel.html" %}
{% endblock %}
