{% extends "portals/base.html" %}
{% load i18n portal_tags static %}

{% block title %}{% trans 'Textbooks' %}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'portals/css/portal-classrooms.css' %}">
{% endblock %}

{% block content %}
{% if portal_role == 'parent' and children %}
{% include "portals/includes/parent_child_header.html" %}
{% endif %}
{% trans 'Textbooks' as textbooks_page_title %}
{% trans 'Dərs kitabları və materiallar.' as textbooks_page_subtitle %}
{% include "portals/includes/portal_page_hero.html" with title=textbooks_page_title subtitle=textbooks_page_subtitle icon="ti-books" lottie="portals/animations/study.lottie" %}

{% include "portals/includes/classrooms_panel.html" %}
{% endblock %}
