{% extends "portals/base.html" %}
{% load static i18n portal_tags %}

{% block title %}{% trans 'Nəticələr və qiymətləndirmələr' %}{% endblock %}

{% block extra_css %}
{% endblock %}

{% block content %}
{% include "portals/includes/portal_page_hero.html" with title=_('Nəticələr və qiymətləndirmələr') subtitle=_('Quiz tarixçəsi, həftəlik qiymətləriniz və mock nəticələrinizə baxın.') icon="ti-star" lottie="portals/animations/distance-education.lottie" %}

{% include "portals/includes/score_sections.html" with show_group_column=score_groups %}
{% endblock %}

{% block extra_js %}
<script defer src="{% static 'portals/js/portal-quiz-history-scroll.js' %}?v=20260705a"></script>
{% endblock %}
