{% extends "portals/base.html" %}
{% load static i18n portal_tags %}

{% block title %}{% trans 'Qiymətləndirmələr' %}{% endblock %}

{% block extra_css %}
{% endblock %}

{% block content %}
<header class="s-page-head mb-4">
  <div>
    <h1 class="s-page-head__title">
      <i class="ti ti-star" aria-hidden="true"></i>
      {% trans 'Qiymətləndirmələr' %}
    </h1>
    <p class="s-page-head__sub">{% trans 'Həftəlik qiymətlərinizə baxın.' %}</p>
  </div>
</header>

{% include "portals/includes/score_sections_weekly.html" %}
{% endblock %}
