{% extends "portals/base.html" %}
{% load static i18n portal_tags %}

{% block title %}{% trans 'Nəticələr və qiymətləndirmələr' %}{% endblock %}

{% block extra_css %}
{% endblock %}

{% block content %}
{% trans 'Nəticələr və qiymətləndirmələr' as scores_page_title %}
{% trans 'Quiz tarixçəsi və həftəlik qiymətlərə baxın.' as scores_page_subtitle %}
{% include "portals/includes/portal_page_hero.html" with title=scores_page_title subtitle=scores_page_subtitle icon="ti-star" lottie="portals/animations/distance-education.lottie" %}

{% include "portals/includes/score_sections.html" with show_student_column=True %}
{% endblock %}
